<% unread_count = conversation.user1 == current_user ? conversation.user1_unread_count : conversation.user2_unread_count %>
<% if unread_count.positive? %>
  <span class="badge bg-danger" title="Unread Messages"><%= unread_count %></span>
<% else %>
  <span class="badge bg-danger" style="display: none;" title="Unread Messages"></span>
<% end %>
