<div class="xxx" id="xxx">Z:</div>
<%= turbo_stream_from :posts_list %>

<span id="posts_count">
  <%= Post.count %>
</span>
<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>
